{% extends "base2.html" %}
{% block title %}Admin{% endblock title %}
{% block body %}
<form method="POST" class="post-form" action="addhotelstodb"> 
  {% csrf_token %}  
  <div class="container">   
      <div class="col-12">  
          <br><h3>Guides</h3><br>
      </div> 
      <div class="mb-3"> 
          <label>Hotel ID</label>  
          <input type="number" class="form-control" name="id_hotel"/>    
      </div> 
      <div class="mb-3"> 
          <label>Hotel Name:</label>  
          <input type="text" class="form-control" name="name" />  
      </div> 
      <div class="mb-3"> 
          <label>Pin:</label>  
          <select class="" aria-label="" name = "pin">
            {% for place in places %}
            <option value="{{place.pin}}" name = "pin">{{place.pin}}</option>
            {% endfor %}
        </select> 
      </div> 
      <div class="mb-3"> 
        <label>Price:</label>  
        <input type="number" class="form-control" name="price"/>  
      </div> 
      <div class="mb-3"> 
          <button type="submit" class="btn btn-success btn-lg">Register</button>  
      </div> 
  </div>  
  </form> 
{% endblock body %}