{% extends "base2.html" %}
{% block title %}Admin{% endblock title %}
{% block body %}
<form method="POST" class="post-form" action="addvehiclestodb"> 
  {% csrf_token %}  
  <div class="container">   
      <div class="col-12">  
          <br><h3>Vehicles</h3><br>
      </div> 
      <div class="mb-3"> 
          <label>Registration No</label>  
          <input type="text" class="form-control" name="reg_no"/>    
      </div> 
      <div class="mb-3"> 
          <label>Name:</label>  
          <input type="text" class="form-control" name="name" />  
      </div> 
      <div class="mb-3"> 
          <label>AC:</label>  
          <input type="text" class="form-control" name="ac"/>  
      </div> 
      <div class="mb-3"> 
          <button type="submit" class="btn btn-success btn-lg">Register</button>  
      </div> 
  </div>  
  </form> 
{% endblock body %}